body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}
header {
    background-color: #0073e6;
    color: white;
    padding: 10px;
}

ul{
    list-style: none;
}

img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}